body {
    background-color: #fff;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

button,
input,
select {
    font-family: inherit;
    font-size: 100%;
    padding: 0; margin: 0;
}

.search-wrapper {
    position: relative;
    text-align: center;
}

input[type="search"] {
    width: 80%;
    height: 60px;
    padding: 12px;
    border: 2px solid purple;
    border-radius: 20px;
    outline: none;
    font-size: 1.6rem;
    color: purple;
    margin-bottom: 40px;
}

input[type="search"]:hover, 
input[type="search"]:focus,
.search-wrapper:hover input[type="search"] {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.icon {
    width: 24px;
    height: 24px;
    background-image: url(./images/search-24px.png);
    position: absolute;
    top: 18px;
    right: 42px;
}

li {
    display: flex;
    align-items: center;
    gap: 6px;
}

input[type="radio"] {
    position: relative;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid purple;
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"]::after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 1.75px;
    left: 1.25px;
    background-color: purple;
    transform: scale(0);
    transition: all 300ms ease-in-out;
}

input[type="radio"]:checked::after {
    transform: scale(1);
}

input[type="radio"]:indeterminate {
    border: 2px solid purple;
    animation: 400ms infinite outline-pulse;
}

@keyframes outline-pulse {
    from {
        border: 2px solid purple;
    }

    to {
        border: 4px solid purple;
    }
}
